html {
  min-height: 100vh;
}

body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #545454;
  font-family: Georgia, serif;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar {
  border-style: none;
  background-color: #ffffff;
}

h3 {
  padding-bottom: 10px;
}

a {
  color: #545454;
}

a:hover {
  text-decoration: none;
  color: #545454;
}

.small {
  font-size: 12px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

#quoteBox {
  background-color: #ffffff;
  border-radius: 5px;
  height: 20%;
  margin-top: 140px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 18px;
}

.social {
  width: 42px;
  height: 42px;
  margin: 25px 10px 50px 0px;
}

#newQuote {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 25px;
  margin-bottom: 50px;
}

@media (max-width: 416px) {
  .title {
    float: none !important;
  }
  .col-mob {
    padding-right: 0px;
    padding-left: 0px;
  }
  .share {
    text-align: left;
  }
  .twitter {
    margin-right: 5px;
  }
}